<a href="https://colab.research.google.com/github/griisnc/DataScience-Data-Mining/blob/main/K_means_planea_180017.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importamos las librerias a utilizar
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

In [ ]:
# Leemos los datos del archivo de planea y los almacenamos en la variable datos
datos = pd.read_csv('/content/sample_data/planea.csv', delimiter=',')
datos
datos.head()

,nombre,turno,municipio,LC_1,LC_2,LC_3,LC_4,M_1,M_2,M_3,M_4
0,COLEGIO NACIONAL DE EDUCACION PROFESIONAL TECN...,MATUTINO,SAN LUIS POTOSI,26.8,31.0,32.4,9.9,63.4,21.1,12.7,2.8
1,COLEGIO NACIONAL DE EDUCACION PROFESIONAL TECN...,VESPERTINO,SAN LUIS POTOSI,52.8,27.8,19.4,0.0,80.8,19.2,0.0,0.0
2,COLEGIO DE BACHILLERES NUM. 17,MATUTINO,SOLEDAD DE GRACIANO SANCHEZ,29.2,20.8,43.1,6.9,63.5,25.7,6.8,4.1
3,COLEGIO DE BACHILLERES NUM. 17,VESPERTINO,SOLEDAD DE GRACIANO SANCHEZ,41.2,30.9,19.1,8.8,74.2,19.7,3.0,3.0
4,COLEGIO DE BACHILLERES NUM. 25,MATUTINO,SAN LUIS POTOSI,24.7,31.5,35.6,8.2,68.8,23.4,7.8,0.0

In [ ]:
# Mostramos los datos de los registros del archivo
datos.head()

,nombre,turno,municipio,LC_1,LC_2,LC_3,LC_4,M_1,M_2,M_3,M_4
0,COLEGIO NACIONAL DE EDUCACION PROFESIONAL TECN...,MATUTINO,SAN LUIS POTOSI,26.8,31.0,32.4,9.9,63.4,21.1,12.7,2.8
1,COLEGIO NACIONAL DE EDUCACION PROFESIONAL TECN...,VESPERTINO,SAN LUIS POTOSI,52.8,27.8,19.4,0.0,80.8,19.2,0.0,0.0
2,COLEGIO DE BACHILLERES NUM. 17,MATUTINO,SOLEDAD DE GRACIANO SANCHEZ,29.2,20.8,43.1,6.9,63.5,25.7,6.8,4.1
3,COLEGIO DE BACHILLERES NUM. 17,VESPERTINO,SOLEDAD DE GRACIANO SANCHEZ,41.2,30.9,19.1,8.8,74.2,19.7,3.0,3.0
4,COLEGIO DE BACHILLERES NUM. 25,MATUTINO,SAN LUIS POTOSI,24.7,31.5,35.6,8.2,68.8,23.4,7.8,0.0

In [ ]:
# Mostramos la información general del archivo meramente para visualizar el numero de columnas, filas y tipo de datos.
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   nombre     134 non-null    object
 1   turno      134 non-null    object
 2   municipio  134 non-null    object
 3   LC_1       134 non-null    float64
 4   LC_2       134 non-null    float64
 5   LC_3       134 non-null    float64
 6   LC_4       134 non-null    float64
 7   M_1        134 non-null    float64
 8   M_2        134 non-null    float64
 9   M_3        134 non-null    float64
 10  M_4        134 non-null    float64
dtypes: float64(8), object(3)
memory usage: 11.6+ KB

In [ ]:
datos2= datos.drop(['nombre','turno','municipio'],axis=1)
datos2.head()

   LC_1  LC_2  LC_3  LC_4   M_1   M_2   M_3  M_4
0  26.8  31.0  32.4   9.9  63.4  21.1  12.7  2.8
1  52.8  27.8  19.4   0.0  80.8  19.2   0.0  0.0
2  29.2  20.8  43.1   6.9  63.5  25.7   6.8  4.1
3  41.2  30.9  19.1   8.8  74.2  19.7   3.0  3.0
4  24.7  31.5  35.6   8.2  68.8  23.4   7.8  0.0

In [ ]:
# Mostramos lo que hay en la variable datos2.
datos2

     LC_1  LC_2  LC_3  LC_4   M_1   M_2   M_3  M_4
0    26.8  31.0  32.4   9.9  63.4  21.1  12.7  2.8
1    52.8  27.8  19.4   0.0  80.8  19.2   0.0  0.0
2    29.2  20.8  43.1   6.9  63.5  25.7   6.8  4.1
3    41.2  30.9  19.1   8.8  74.2  19.7   3.0  3.0
4    24.7  31.5  35.6   8.2  68.8  23.4   7.8  0.0
..    ...   ...   ...   ...   ...   ...   ...  ...
129  45.9  24.3  24.3   5.4  78.4  18.9   2.7  0.0
130  54.7  34.7   9.3   1.3  86.7   9.3   4.0  0.0
131  66.7  23.8   4.8   4.8  95.2   4.8   0.0  0.0
132  57.9  31.6  10.5   0.0  94.7   5.3   0.0  0.0
133  62.5  31.3   6.3   0.0  88.2  11.8   0.0  0.0

[134 rows x 8 columns]

In [ ]:
# NORMALIZACION DE DATOS

In [ ]:
# Con la ayuda de la funcion describe logramos visualizar que los datos no estan normalizados.
# Tenemos que normalizarlos para aplicar K-means esto quiere decir que esten en un valor entre 0-1.
datos2.describe()

,LC_1,LC_2,LC_3,LC_4,M_1,M_2,M_3,M_4
count,134.000000,134.000000,134.000000,134.000000,134.000000,134.000000,134.000000,134.000000
mean,29.279851,26.870896,31.267910,12.602239,66.147015,20.807463,8.300746,4.746269
std,21.405044,12.735657,15.934205,16.724713,24.889904,14.040145,9.468750,11.120128
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,11.250000,20.000000,20.075000,1.325000,48.425000,10.650000,0.000000,0.000000
50%,28.500000,26.700000,32.350000,7.350000,72.000000,20.000000,5.650000,0.000000
75%,43.200000,33.675000,41.700000,16.700000,85.550000,30.125000,12.550000,5.850000
max,100.000000,80.000000,100.000000,100.000000,100.000000,66.700000,50.000000,100.000000

In [ ]:
#normalizar datos
estandariza = StandardScaler()
datos_norm = estandariza.fit_transform(datos2)
datos_norm

array([[-0.11628829,  0.32543262,  0.07131436, ...,  0.02091396,
         0.46635105, -0.17567889],
       [ 1.10293655,  0.07322675, -0.74760198, ..., -0.11492008,
        -0.87993601, -0.42841939],
       [-0.00374446, -0.47847359,  0.74534549, ...,  0.34977531,
        -0.15908939, -0.05833509],
       ...,
       [ 1.75475291, -0.24203059, -1.66730801, ..., -1.14439908,
        -0.87993601, -0.42841939],
       [ 1.34209219,  0.37272122, -1.30824469, ..., -1.10865328,
        -0.87993601, -0.42841939],
       [ 1.5578012 ,  0.34907692, -1.57281766, ..., -0.6439579 ,
        -0.87993601, -0.42841939]])

In [ ]:
# APLICACION DE KMEANS

In [ ]:
# Hacemos el fit con los datos ya normalizados.
# ----NOTA----
# En este caso al momento de hacer el fit nos advierte que el valor de n_init cambia de 10 a ´auto´ por lo tanto, haremos los dos escenarios
# uno en donde no se modifica la variable n_init de manera explicita (Escenario1) y otro en donde si se modifica de manera explicita (Escenario2).

In [ ]:
# Escenario 1: Sin modificar la variable n_init explicitamente.
# Aplicamos el algoritmo K Means con un numero de agrupacion de 4 y la semilla 42.
kmeans = KMeans(n_clusters= 4, random_state= 42)

In [ ]:
kmeans.fit(datos_norm)

/usr/local/lib/python3.9/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

KMeans(n_clusters=4, random_state=42)

In [ ]:
datos['Grupo'] =kmeans.labels_ #los resultados del clustering
datos

,nombre,turno,municipio,LC_1,LC_2,LC_3,LC_4,M_1,M_2,M_3,M_4,Grupo
0,COLEGIO NACIONAL DE EDUCACION PROFESIONAL TECN...,MATUTINO,SAN LUIS POTOSI,26.8,31.0,32.4,9.9,63.4,21.1,12.7,2.8,2
1,COLEGIO NACIONAL DE EDUCACION PROFESIONAL TECN...,VESPERTINO,SAN LUIS POTOSI,52.8,27.8,19.4,0.0,80.8,19.2,0.0,0.0,1
2,COLEGIO DE BACHILLERES NUM. 17,MATUTINO,SOLEDAD DE GRACIANO SANCHEZ,29.2,20.8,43.1,6.9,63.5,25.7,6.8,4.1,2
3,COLEGIO DE BACHILLERES NUM. 17,VESPERTINO,SOLEDAD DE GRACIANO SANCHEZ,41.2,30.9,19.1,8.8,74.2,19.7,3.0,3.0,1
4,COLEGIO DE BACHILLERES NUM. 25,MATUTINO,SAN LUIS POTOSI,24.7,31.5,35.6,8.2,68.8,23.4,7.8,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
129,PROF. RAFAEL TURRUBIARTES MACIAS,MATUTINO,SAN LUIS POTOSI,45.9,24.3,24.3,5.4,78.4,18.9,2.7,0.0,1
130,TOMAS MIRANDA LEURA,MATUTINO,SOLEDAD DE GRACIANO SANCHEZ,54.7,34.7,9.3,1.3,86.7,9.3,4.0,0.0,1
131,FLORENCIO SALAZAR MARTINEZ,VESPERTINO,SOLEDAD DE GRACIANO SANCHEZ,66.7,23.8,4.8,4.8,95.2,4.8,0.0,0.0,1
132,NICOLAS LEON,VESPERTINO,SAN LUIS POTOSI,57.9,31.6,10.5,0.0,94.7,5.3,0.0,0.0,1
133,MIGUEL DE CERVANTES SAAVEDRA,VESPERTINO,SAN LUIS POTOSI,62.5,31.3,6.3,0.0,88.2,11.8,0.0,0.0,1

Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

In [ ]:
grupo1 = datos[(datos['Grupo'] == 1)]
grupo1.head()

,nombre,turno,municipio,LC_1,LC_2,LC_3,LC_4,M_1,M_2,M_3,M_4,Grupo
1,COLEGIO NACIONAL DE EDUCACION PROFESIONAL TECN...,VESPERTINO,SAN LUIS POTOSI,52.8,27.8,19.4,0.0,80.8,19.2,0.0,0.0,1
3,COLEGIO DE BACHILLERES NUM. 17,VESPERTINO,SOLEDAD DE GRACIANO SANCHEZ,41.2,30.9,19.1,8.8,74.2,19.7,3.0,3.0,1
11,COLEGIO DE ESTUDIOS CIENTIFICOS Y TECNOLOGICOS...,VESPERTINO,SAN LUIS POTOSI,54.1,21.6,21.6,2.7,81.9,15.3,1.4,1.4,1
17,"INSTITUTO AVANCE, A.C.",MATUTINO,SAN LUIS POTOSI,43.8,28.1,18.8,9.4,71.0,25.8,3.2,0.0,1
18,ATENEO POTOSINO,MATUTINO,SAN LUIS POTOSI,0.0,0.0,0.0,100.0,100.0,0.0,0.0,0.0,1

In [ ]:
grupo2 = datos[(datos['Grupo'] == 2)]
grupo3 = datos[(datos['Grupo'] == 3)]
grupo4 = datos[(datos['Grupo'] == 4)]

In [ ]:
grupo2

,nombre,turno,municipio,LC_1,LC_2,LC_3,LC_4,M_1,M_2,M_3,M_4,Grupo
0,COLEGIO NACIONAL DE EDUCACION PROFESIONAL TECN...,MATUTINO,SAN LUIS POTOSI,26.8,31.0,32.4,9.9,63.4,21.1,12.7,2.8,2
2,COLEGIO DE BACHILLERES NUM. 17,MATUTINO,SOLEDAD DE GRACIANO SANCHEZ,29.2,20.8,43.1,6.9,63.5,25.7,6.8,4.1,2
4,COLEGIO DE BACHILLERES NUM. 25,MATUTINO,SAN LUIS POTOSI,24.7,31.5,35.6,8.2,68.8,23.4,7.8,0.0,2
5,COLEGIO DE BACHILLERES NUM. 25,VESPERTINO,SAN LUIS POTOSI,22.9,42.9,31.4,2.9,65.7,27.1,7.1,0.0,2
7,COLEGIO DE BACHILLERES NUM. 26,VESPERTINO,SAN LUIS POTOSI,28.2,26.8,40.8,4.2,68.6,22.9,5.7,2.9,2
10,COLEGIO DE ESTUDIOS CIENTIFICOS Y TECNOLOGICOS...,MATUTINO,SAN LUIS POTOSI,23.3,35.0,35.0,6.7,64.2,22.4,7.5,6.0,2
12,COLEGIO DE ESTUDIOS CIENTIFICOS Y TECNOLOGICOS...,MATUTINO,SAN LUIS POTOSI,30.3,36.8,26.3,6.6,68.4,26.3,3.9,1.3,2
13,CENTRO DE BACHILLERATO TECNOLOGICO INDUSTRIAL ...,MATUTINO,SOLEDAD DE GRACIANO SANCHEZ,16.9,35.4,32.3,15.4,47.6,34.9,9.5,7.9,2
14,CENTRO DE BACHILLERATO TECNOLOGICO INDUSTRIAL ...,VESPERTINO,SOLEDAD DE GRACIANO SANCHEZ,32.4,26.5,36.8,4.4,47.9,31.0,16.9,4.2,2
16,CENTRO DE BACHILLERATO TECNOLOGICO INDUSTRIAL ...,VESPERTINO,SAN LUIS POTOSI,17.2,32.8,45.3,4.7,61.4,18.6,14.3,5.7,2
21,PROF. JOSE JUAREZ BARBOSA,MATUTINO,SAN LUIS POTOSI,28.4,29.9,38.8,3.0,68.1,25.0,6.9,0.0,2
23,CENTRO DE BACHILLERATO TECNOLOGICO INDUSTRIAL ...,MATUTINO,SAN LUIS POTOSI,33.8,25.0,32.4,8.8,71.8,22.5,4.2,1.4,2
28,COLEGIO DE BACHILLERES NUM. 01,MATUTINO,SOLEDAD DE GRACIANO SANCHEZ,11.0,27.4,43.8,17.8,47.4,34.2,10.5,7.9,2
29,COLEGIO DE BACHILLERES NUM. 01,VESPERTINO,SOLEDAD DE GRACIANO SANCHEZ,20.8,22.2,41.7,15.3,56.2,28.8,13.7,1.4,2
30,COLEGIO DE BACHILLERES NUM. 19,MATUTINO,SAN LUIS POTOSI,13.0,33.8,42.9,10.4,47.4,39.5,6.6,6.6,2
32,COLEGIO DE ESTUDIOS CIENTIFICOS Y TECNOLOGICOS...,MATUTINO,SAN LUIS POTOSI,30.7,38.7,28.0,2.7,61.3,22.7,13.3,2.7,2
34,COLEGIO DE ESTUDIOS CIENTIFICOS Y TECNOLOGICOS...,MATUTINO,SAN LUIS POTOSI,29.9,33.8,29.9,6.5,64.5,22.4,5.3,7.9,2
37,COLEGIO SAN LUIS REY DE FRANCIA,MATUTINO,SAN LUIS POTOSI,16.9,33.8,40.3,9.1,64.1,24.4,10.3,1.3,2
39,"COLEGIO HISPANO MEXICANO, A.C.",MATUTINO,SAN LUIS POTOSI,6.5,29.0,35.5,29.0,51.5,30.3,12.1,6.1,2
46,INSTITUTO CULTURAL ANGLO AMERICANO,MATUTINO,SAN LUIS POTOSI,0.0,66.7,16.7,16.7,66.7,33.3,0.0,0.0,2
47,"INSTITUTO ALFRED NOBEL DEL CENTRO, S.C.",MATUTINO,SAN LUIS POTOSI,31.6,36.8,21.1,10.5,73.7,21.1,5.3,0.0,2
48,COLEGIO VALLARTA,MATUTINO,SAN LUIS POTOSI,28.6,21.4,35.7,14.3,80.0,20.0,0.0,0.0,2
51,INSTITUTO ATENEA,MATUTINO,SAN LUIS POTOSI,41.7,8.3,41.7,8.3,66.7,25.0,8.3,0.0,2
54,FRAY BARTOLOME DE LAS CASAS,MATUTINO,SAN LUIS POTOSI,27.8,33.3,33.3,5.6,80.6,13.9,5.6,0.0,2
56,INSTITUTO CULTURAL LICEO DEL POTOSI,MATUTINO,SAN LUIS POTOSI,29.7,24.3,35.1,10.8,62.2,32.4,2.7,2.7,2
58,ESCUELA PREPARATORIA REAL DEL POTOSI,MATUTINO,SAN LUIS POTOSI,33.3,26.7,40.0,0.0,46.7,46.7,6.7,0.0,2
61,CENTRO EDUCATIVO MONTESSORI,MATUTINO,SAN LUIS POTOSI,18.2,27.3,36.4,18.2,76.9,15.4,7.7,0.0,2
63,INSTITUTO RICARDO FLORES MAGON,MATUTINO,SOLEDAD DE GRACIANO SANCHEZ,8.0,20.0,40.0,32.0,72.0,20.0,8.0,0.0,2
65,ESCUELA PREPARATORIA SAN LUIS DE LA PATRIA,MATUTINO,SAN LUIS POTOSI,18.2,36.4,36.4,9.1,70.0,20.0,10.0,0.0,2
66,ESCUELA PREPARATORIA SAN LUIS DE LA PATRIA,VESPERTINO,SAN LUIS POTOSI,25.0,16.7,58.3,0.0,72.7,18.2,9.1,0.0,2
67,COLEGIO CHAPULTEPEC DE SAN LUIS,MATUTINO,SAN LUIS POTOSI,42.9,14.3,42.9,0.0,71.4,28.6,0.0,0.0,2
68,INSTITUTO OXFORD,MATUTINO,SAN LUIS POTOSI,33.3,33.3,33.3,0.0,66.7,33.3,0.0,0.0,2
70,JUANA DE ASBAJE,MATUTINO,SAN LUIS POTOSI,21.4,21.4,42.9,14.3,71.4,21.4,7.1,0.0,2
73,PREPARATORIA DE LA UNIVERSIDAD MARISTA DE SAN ...,MATUTINO,SAN LUIS POTOSI,15.0,20.0,55.0,10.0,57.9,26.3,10.5,5.3,2
80,BACHILLERATO UNIVERSIDAD CUAUHTEMOC SAN LUIS P...,MATUTINO,SAN LUIS POTOSI,17.9,33.3,33.3,15.4,73.7,7.9,15.8,2.6,2
83,INSTITUTO GABRIEL AGUIRRE,MATUTINO,SAN LUIS POTOSI,28.6,28.6,42.9,0.0,78.6,14.3,7.1,0.0,2
90,MULTIVERSIDAD LATINOAMERICANA CAMPUS SAN LUIS ...,MATUTINO,SOLEDAD DE GRACIANO SANCHEZ,21.1,15.8,52.6,10.5,78.9,10.5,10.5,0.0,2
93,"COLEGIO SHEL HA, S.C.",MATUTINO,SAN LUIS POTOSI,25.0,50.0,25.0,0.0,50.0,50.0,0.0,0.0,2
97,"COLEGIO FRAY PEDRO DE GANTE DE SAN LUIS, S.C.",MATUTINO,SAN LUIS POTOSI,0.0,25.0,25.0,50.0,75.0,0.0,25.0,0.0,2
99,CONCIENCIA BACHILLER,MATUTINO,SAN LUIS POTOSI,20.0,20.0,40.0,20.0,50.0,31.3,18.8,0.0,2
105,PROF. PEDRO VALLEJO,VESPERTINO,SAN LUIS POTOSI,29.7,28.4,31.1,10.8,37.8,33.8,10.8,17.6,2
109,RAFAEL NIETO COMPEAN,NOCTURNO,SAN LUIS POTOSI,27.5,42.5,22.5,7.5,50.0,40.0,5.0,5.0,2
111,LIC. ANTONIO ROCHA CORDERO,VESPERTINO,SAN LUIS POTOSI,20.0,42.9,28.6,8.6,71.4,20.0,8.6,0.0,2
113,E.P.C. NUM. 1 BENITO SOLIS LUNA,VESPERTINO,SAN LUIS POTOSI,38.9,16.7,38.9,5.6,68.4,31.6,0.0,0.0,2
115,PROFA. MARGARITA CARDENAS DE RENTERIA,MATUTINO,SAN LUIS POTOSI,10.3,33.3,48.7,7.7,77.9,16.9,5.2,0.0,2
125,PROFA. CELIA LECHON NOYOLA,MATUTINO,SAN LUIS POTOSI,20.0,30.7,41.3,8.0,72.0,21.3,4.0,2.7,2
128,SOLIDARIDAD,MATUTINO,SAN LUIS POTOSI,19.0,35.4,35.4,10.1,53.2,35.4,7.6,3.8,2

In [ ]:
grupo3

,nombre,turno,municipio,LC_1,LC_2,LC_3,LC_4,M_1,M_2,M_3,M_4,Grupo
6,COLEGIO DE BACHILLERES NUM. 26,MATUTINO,SAN LUIS POTOSI,9.7,26.4,31.9,31.9,39.4,29.6,22.5,8.5,3
8,COLEGIO DE BACHILLERES NUM. 28,MATUTINO,SAN LUIS POTOSI,2.9,12.9,45.7,38.6,25.4,31.0,19.7,23.9,3
9,COLEGIO DE BACHILLERES NUM. 28,VESPERTINO,SAN LUIS POTOSI,7.1,20.0,50.0,22.9,37.3,34.7,21.3,6.7,3
15,CENTRO DE BACHILLERATO TECNOLOGICO INDUSTRIAL ...,MATUTINO,SAN LUIS POTOSI,10.4,23.9,43.3,22.4,40.3,32.8,20.9,6.0,3
19,INSTITUTO CARLOS GOMEZ,MATUTINO,SAN LUIS POTOSI,10.0,18.6,45.7,25.7,22.1,35.3,14.7,27.9,3
20,LIC. JESUS SILVA HERZOG,MATUTINO,SAN LUIS POTOSI,9.0,20.9,49.3,20.9,29.4,45.6,19.1,5.9,3
40,COLEGIO SEMBRADORES DE AMISTAD,MATUTINO,SAN LUIS POTOSI,3.9,22.1,42.9,31.2,16.9,46.8,14.3,22.1,3
42,"INSTITUTO LATINOAMERICANO DE SAN LUIS, A.C.",MATUTINO,SAN LUIS POTOSI,0.0,25.0,58.3,16.7,25.0,58.3,8.3,8.3,3
43,INSTITUTO TECNOLOGICO DE ESTUDIOS SUPERIORES D...,MATUTINO,SAN LUIS POTOSI,1.3,1.3,35.4,62.0,9.1,27.3,36.4,27.3,3
44,INSTITUTO CARLOS GOMEZ,MATUTINO,SAN LUIS POTOSI,5.8,10.1,52.2,31.9,41.5,36.9,13.8,7.7,3
69,UNIVERSIDAD DEL CENTRO DE MEXICO,MATUTINO,SAN LUIS POTOSI,5.3,15.8,36.8,42.1,38.9,33.3,19.4,8.3,3
72,INSTITUTO DE ESTUDIOS SUPERIORES DE CENTROAMERICA,MATUTINO,SAN LUIS POTOSI,0.0,0.0,100.0,0.0,50.0,0.0,50.0,0.0,3
76,PREPARATORIA MOTOLINIA,MATUTINO,SAN LUIS POTOSI,1.4,24.7,38.4,35.6,15.3,36.1,33.3,15.3,3
79,INSTITUTO CULTURAL SOR JUANA INES DE LA CRUZ,MATUTINO,SAN LUIS POTOSI,0.0,33.3,66.7,0.0,0.0,66.7,33.3,0.0,3
81,COLEGIO JOSE ANTONIO ALZATE Y RAMIREZ,MATUTINO,SAN LUIS POTOSI,0.0,0.0,54.5,45.5,7.7,15.4,38.5,38.5,3
82,COLEGIO MINERVA,MATUTINO,SAN LUIS POTOSI,5.4,18.9,59.5,16.2,24.3,24.3,32.4,18.9,3
84,"INSTITUTO HISPANO INGLES, A.C.",MATUTINO,SAN LUIS POTOSI,19.4,8.3,44.4,27.8,43.2,40.5,16.2,0.0,3
85,INSTITUTO ANDES DE SAN LUIS,MATUTINO,SAN LUIS POTOSI,5.7,22.9,48.6,22.9,28.9,42.1,18.4,10.5,3
86,UNIVERSIDAD DEL VALLE DE MEXICO,MATUTINO,SAN LUIS POTOSI,7.7,17.9,35.9,38.5,35.9,35.9,15.4,12.8,3
87,UNIVERSIDAD TECMILENIO CAMPUS SAN LUIS POTOSI,MATUTINO,SAN LUIS POTOSI,13.5,12.2,44.6,29.7,28.9,42.1,21.1,7.9,3
88,COLEGIO INTERNACIONAL TERRANOVA BACHILLERATO,MATUTINO,SAN LUIS POTOSI,0.0,18.8,56.3,25.0,37.5,25.0,18.8,18.8,3
91,INSTITUTO LOMAS DEL REAL,MATUTINO,SAN LUIS POTOSI,4.2,4.2,58.3,33.3,25.0,29.2,20.8,25.0,3
92,"COLEGIO JUAN DE DIOS PEZA, A.C.",MATUTINO,SAN LUIS POTOSI,10.5,18.4,34.2,36.8,53.8,25.6,10.3,10.3,3
94,INSTITUTO MIGUEL DE CERVANTES SAAVEDRA DE SAN ...,MATUTINO,SAN LUIS POTOSI,0.0,10.0,60.0,30.0,45.5,27.3,27.3,0.0,3
95,INSTITUTO REAL DE SAN LUIS,MATUTINO,SAN LUIS POTOSI,0.0,18.2,36.4,45.5,21.7,17.4,21.7,39.1,3
96,INSTITUTO LA PAZ,MATUTINO,SAN LUIS POTOSI,0.0,35.3,35.3,29.4,29.4,58.8,11.8,0.0,3
101,BACHILLERATO TECNOLOGICO DE SAN LUIS POTOSI,VESPERTINO,SAN LUIS POTOSI,28.6,28.6,28.6,14.3,21.4,50.0,14.3,14.3,3
107,FRANCISCO MARTINEZ DE LA VEGA,MATUTINO,SAN LUIS POTOSI,0.0,22.7,50.7,26.7,32.5,36.4,22.1,9.1,3
118,PROF. JOSE CESAR CRUZ SANDOVAL,MATUTINO,SAN LUIS POTOSI,12.0,29.3,44.0,14.7,34.2,38.2,19.7,7.9,3

In [ ]:
grupo4

Empty DataFrame
Columns: [nombre, turno, municipio, LC_1, LC_2, LC_3, LC_4, M_1, M_2, M_3, M_4, Grupo]
Index: []

In [ ]:
grupo1.to_csv("grupo1.csv")

In [ ]:
grupo2.to_csv("grupo2.csv")
grupo3.to_csv("grupo3.csv")
grupo4.to_csv("grupo4.csv")